<% include('layout') %>
<div class="jumbotron text-center">
    <h1>Welcome to TailorEase</h1>
    <p>Your go-to platform for tailored clothing</p>
    <a href="/services" class="btn btn-primary">Explore Our Services</a>
</div>
